<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<!--    HEADER FRAGMENT   -->
<div align="center" th:fragment="header_template">
    <div class="inline">
        <a class="title" href="/"><h3 class="pageTitle">Blog page title</h3></a>
    </div>
    <br>


    <!--<div class="inline">-->
    <!--<form id="loginForm">-->
    <!--<div>-->
    <!--<input class="textField" type="text" name="username" placeholder="username" >-->
    <!--<input class="textField" type="password" name="password" placeholder="password" >-->
    <!--</div>-->


    <!--</form>-->
    <!--<button class="button" >Sign In</button>&lt;!&ndash;type="submit" form="loginForm" value="Submit"&ndash;&gt;-->
    <!--<button class="button" >Register</button>-->
    <!--</div>-->
</div>

<!--    POST FRAGMENT   -->
<div align="center" th:fragment="post_template">
    <hr/>
    <div class="post_header">
        <h5 class="post_title" th:text="${title}"></h5>
        <span class="timestamp" th:text="${timestamp}"></span>
    </div>
    <p class="post_paragraph" align="center" th:utext="${content}"></p>
</div>


<!--    FOOTER FRAGMENT   -->
<div align="center" th:fragment="footer_template">
    <hr/>
    <p>&copy; Private Blog </p>
</div>

</body>
</html>