<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!--    HEADER FRAGMENT   -->
<div align="center" th:fragment="header_template">
    <div class="inline">
        <h3 class="pageTitle">Blog page title</h3>
    </div>
    <br>

    <div class="inline">
        <form id="loginForm">
            <div>
                <input class="textField" type="text" name="username" placeholder="username" >
                <input class="textField" type="password" name="password" placeholder="password" >
            </div>


        </form>
        <button class="buttoon" >Sign In</button><!--type="submit" form="loginForm" value="Submit"-->
        <button class="buttoon" >Register</button>
    </div>
</div>

<!--    POST FRAGMENT   -->
<div  class="center_section" align="center" th:fragment="post_template">
    <hr/>
    <div class="post_header">
        <h5 class="post_title" th:text="${title}"></h5>
        <span class="timestamp" th:text="${timestamp}"></span>
    </div>
    <p class="post_paragraph" align="center" th:utext="${content}"></p>
    <a class="post_Continue_read_link" href="/">Continue Reading</a>
</div>

<!--    FOOTER FRAGMENT   -->
<div align="center" th:fragment="footer_template">
    <p>&copy; Private Blog </p>
</div>

</body>
</html>