<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=0.5, user-scalable=yes,  minimal-ui">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,800&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
    <!-- Inserting header template -->
    <div th:insert="fragments :: header_template"></div>


    <div class="center_section">
        <div align="center" class="inline">
            <!--    TODO change href to "/login" when there will be working basic authentication, for now just redirect directly to user controls-->
            <a id="loginButton" class="button" href="/admin/">Login</a>
        </div>
        <div id="sortingButtons">
            <a class="button" href="/sort?field=date">Sort by date</a>
            <a class="button" href="/sort?field=title">Sort by Title</a>
        </div>
        <div th:object="${postList}">

            <div th:each=" post : ${postList}">
                <div th:insert="fragments :: post_template" th:with="title=${post.getTitle()}, timestamp=${post.getTimestamp()}, content=${post.getShortText()}"></div>
                <a  align="center" class="post_Continue_read_link" th:href="@{/post(id=${post.getId()})}">Continue Reading</a>
            </div>
        </div>
        <a id="button_previous" class="button" th:unless="${previous == 'false'}" th:href="@{/(page=${previous_page})}" >Previous</a>
        <a id="button_next" class="button"  th:unless="${next == 'false'}" th:href="@{/(page=${next_page})}" >Next</a>
        <br>

        <div th:insert="fragments :: footer_template"></div>
    </div>
</body>
</html>