<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=0.5, user-scalable=yes,  minimal-ui">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,800&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
    <!-- Inserting header template -->
    <div th:insert="fragments :: header_template"></div>

    <div th:object="${postList}">

        <div th:each=" post : ${postList}">
            <div th:insert="fragments :: post_template" th:with="title=${post.getTitle()}, timestamp=${post.getTimestamp()}, content=${post.getShortText()}"></div>
        </div>
    </div>

    <div class="center_section">
        <!-- TODO implement thymeleaf logic to display only relative buttons for page switching
        TODO add page numberin the middle-->
        <form action="/previousPage" method="post">
            <button  th:unless="${previous == 'false'}" class="previous_page" type="submit">Previous</button><!--type="submit" form="loginForm" value="Submit"-->
        </form>
        <form action="/nextPage" method="post">
            <button th:unless="${next == 'false'}" class="next_page" type="submit" >Next</button>
        </form>
    </div>
    <br>

    <hr/>
    <div th:insert="fragments :: footer_template"></div>
</body>
</html>